<servers>
  <server>
    <id>central</id>
    <username>weblogic</username>
    <password>welcome1</password>
  </server>
  <server>
    <id>snapshots</id>
    <username>weblogic</username>
    <password>welcome1</password>
  </server>
</servers>

<profile>
  <id>env-default</id>
  <properties>
    <fmw.home>/Oracle_11.1.1.8/Middleware</fmw.home>
    <eclipse.home>/Oracle_11.1.1.8/Middleware/oepe_11.1.1.8.0</eclipse.home>
    <weblogic.home>/Oracle_11.1.1.8/Middleware/wlserver_10.3</weblogic.home>
    <osb.home>/Oracle_11.1.1.8/Middleware/Oracle_OSB1</osb.home>
  </properties>
  <repositories>
    <repository>
      <id>central</id>
      <url>https://github.com/keerthana123/repo</url>
      <snapshots>
        <enabled>false</enabled>
      </snapshots>
    </repository>
    <repository>
      <id>snapshots</id>
      <url>https://github.com/keerthana123/repo</url>
      <releases>
        <enabled>false</enabled>
      </releases>
    </repository>
  </repositories>
  <pluginRepositories>
    <pluginRepository>
      <id>central</id>
      <url>https://github.com/keerthana123/repo</url>
      <snapshots>
        <enabled>false</enabled>
      </snapshots>
    </pluginRepository>
    <pluginRepository>
      <id>snapshots</id>
      <url>https://github.com/keerthana123/repo</url>
      <releases>
        <enabled>false</enabled>
      </releases>
    </pluginRepository>
  </pluginRepositories>
</profile>
<profile>
  <id>env-dev</id>
  <activation>
    <property>
      <name>target-env</name>
      <value>dev</value>
    </property>
  </activation>
  <properties>
    <wls.username>weblogic</wls.username>
    <wls.password>welcome1</wls.password>
    <wls.server>t3://localhost:8001</wls.server>
    <osb.all.import.projects>None</osb.all.import.projects>
    <osb.all.import.plan>None</osb.all.import.plan>
    <osb.all.export.projects>None</osb.all.export.projects>
    <osb.all.export.plan>all_plan.xml</osb.all.export.plan>
  </properties>
  <repositories>
    <repository>
      <id>central</id>
      <url>https://github.com/keerthana123/repo</url>
      <snapshots>
        <enabled>false</enabled>
      </snapshots>
    </repository>
    <repository>
      <id>snapshots</id>
      <url>https://github.com/keerthana123/repo</url>
      <releases>
        <enabled>false</enabled>
      </releases>
    </repository>
  </repositories>
  <pluginRepositories>
    <pluginRepository>
      <id>central</id>
      <url>https://github.com/keerthana123/repo</url>
      <snapshots>
        <enabled>false</enabled>
      </snapshots>
    </pluginRepository>
    <pluginRepository>
      <id>snapshots</id>
      <url>https://github.com/keerthana123/repo</url>
      <releases>
        <enabled>false</enabled>
      </releases>
    </pluginRepository>
  </pluginRepositories>
</profile>
<activeProfiles>
  <activeProfile>env-default</activeProfile>
</activeProfiles>
</profiles>    
